* {
    box-sizing: border-box;
}

body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0px;
    padding: 0px;
}

body {
    color: #222;
    font-family: "Nunito", Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/* .top-info */
.top-info-bg {
    background-color: #122ab2;
    color: #fff;
}

.top-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 960px;
    padding-top: 10px;
}

.top-info p,
.top-info a {
    margin: 0px 10px 10px 10px;
}

.top-info a {
    color: inherit;
}

/* .menu */
.menu-bg {
    background-color: #2c70ff;
}

.menu {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 960px;
    padding: 15px 0px;
}

.menu a {
    color: #fff;
}

.menu-logo a {
    font-size: 2.25em;
    font-weight: bold;
    margin: 0px 10px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 10px;
}

.menu-nav li {
    padding: 10px 0px;
}

.menu-nav a {
    display: inline-block;
    font-size: 1.25em;
    position: relative;
}

.menu-nav a::after {
    background-color: #fff;
    content: "";
    display: block;
    height: 2px;
    margin-top: 2px;
    position: absolute;
    transition: 0.3s;
    width: 0px;
}

.menu-nav a:hover::after {
    width: 100%;
}

/* .introduction and .about */
.introduction {
    font-size: 3em;
    line-height: 1;
    margin: 0px auto;
    max-width: 960px;
    padding: 60px 10px;
}

.about {
    border-bottom: 2px solid #2c70ff;
    border-top: 2px solid #2c70ff;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    max-width: 960px;
    padding: 60px 0px;
}

.about-info {
    flex: 2 1 300px;
    margin: 0px 10px;
}

.about-info h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.about-info p {
    color: #7c7c7c;
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
}

.about-img {
    flex: 1 1 160px;
    margin: 0px 10px;
}

/* .products */
.products {
    margin: 60px auto;
    max-width: 960px;
}

.products h1 {
    font-size: 3em;
    margin: 0px 10px 60px 10px;
}

.products-container {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
}

.products-item {
    flex: 1 1 175px;
    margin: 10px;
}

.products-item h2 {
    background-color: #f7f7f7;
    color: #a4a4a4;
    font-size: 3em;
    padding: 60px 20px;
}

.purple {
    border-top: 8px solid #ae81ff;
}

.pink {
    border-top: 8px solid #f9265e;
}

.blue {
    border-top: 8px solid #66d9eb;
}

/* .prices */
.prices {
    align-items: flex-end;
    background-color: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
}

.prices-item {
    border: 4px solid #fff;
    flex: 1 1 260px;
    margin: 10px;
    padding: 20px;
}

.prices-item h2 {
    color: #a4a4a4;
    font-size: 3em;
    margin-top: 20px;
    text-align: center;
}

.prices-item span {
    border-bottom: 4px solid #fff;
    border-top: 4px solid #fff;
    display: block;
    font-size: 3em;
    font-weight: bold;
    margin: 20px auto;
    max-width: 300px;
    padding: 10px 0px 5px 0px;
    text-align: center;
}

.prices-item sup {
    font-size: 1.5rem;
}

.prices-item ul {
    color: #7c7c7c;
    font-size: 1.25em;
    font-style: italic;
    margin: 20px auto;
    max-width: 300px;
}

.prices-item li {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.prices-item li::after {
    background-color: #2c70ff;
    border-radius: 50%;
    content: "";
    display: block;
    height: 6px;
    width: 6px;
}

.prices-item a {
    border: 4px solid;
    color: #222;
    display: block;
    font-size: 2.25em;
    font-weight: bold;
    margin: 20px auto;
    max-width: 300px;
    padding: 15px 0px;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 800px) {
    .prices {
        padding-left: 10px;
        padding-right: 10px;
    }

    .prices-item:nth-child(3) {
        order: -2;
    }

    .prices-item:nth-child(2) {
        order: -1;
    }
}

.quality {
    display: flex;
    flex-wrap: wrap;
    margin: 60px auto;
    max-width: 960px;
}

.quality-item {
    flex: 1 1 300px;
    margin: 20px 10px;
}

.quality-item h2 {
    color: #a4a4a4;
    font-size: 2.25em;
    margin-bottom: 20px;
}

.quality-item h2::before {
    content: "";
    background-color: #0000ff;
    display: inline-block;
    height: 30px;
    margin-right: 10px;
    width: 8px;
}

.quality-item:nth-of-type(3n+1) h2::before {
    background-color: #ae81ff;
}

.quality-item:nth-of-type(3n+2) h2::before {
    background-color: #f9265e;
}

.quality-item:nth-of-type(3n+3) h2::before {
    background-color: #66d9eb;
}

.quality-item p {
    color: #7c7c7c;
    font-size: 1.25em;
    line-height: 1.4;
}