* {
    box-sizing: border-box;
}

body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0px;
    padding: 0px;
}

body {
    color: #222;
    font-family: "Nunito", Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/* .top-info */
.top-info-bg {
    background-color: #122ab2;
    color: #fff;
}

.top-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 960px;
    padding-top: 10px;
}

.top-info p,
.top-info a {
    margin: 0px 10px 10px 10px;
}

.top-info a {
    color: inherit;
}

/* .menu */
.menu-bg {
    background-color: #2c70ff;
}

.menu {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 960px;
    padding: 15px 0px;
}

.menu a {
    color: #fff;
}

.menu-logo a {
    font-size: 2.25em;
    font-weight: bold;
    margin: 0px 10px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 10px;
}

.menu-nav a {
    display: inline-block;
    font-size: 1.25em;
    position: relative;
}

.menu-nav a::after {
    background-color: #fff;
    content: "";
    display: block;
    height: 2px;
    margin-top: 2px;
    position: absolute;
    transition: 0.3s;
    width: 0px;
}

.menu-nav a:hover::after {
    width: 100%;
}

/* .introduction and .about */

.introduction {
    font-size: 3em;
    line-height: 1;
    margin: 0px auto;
    max-width: 960px;
    padding: 60px 10px;
}

.about {
    border-bottom: 2px solid #2c70ff;
    border-top: 2px solid #2c70ff;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    max-width: 960px;
    padding: 60px 0px;
}

.about-info {
    flex: 2 1 300px;
    margin: 0px 10px;
}

.about-info h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.about-info p {
    color: #7c7c7c;
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
}

.about-img {
    flex: 1 1 160px;
    margin: 0px 10px;
}